<body>
    <h1>CREATE ORDERS :</h1>
    <form [formGroup]="orderdata" (ngSubmit)="orderFunction()">
        <label>
            <input type="text" placeholder="productname" formControlName="productname">
        </label> <br>

        <label>
            <input type="number" placeholder="productquantity" formControlName="productquantity">
        </label> <br>

        <label>
            <input type="number" placeholder="productprice" formControlName="productprice">
        </label> <br>

        <label>
            <input type="text" placeholder="Address" formControlName="address">
        </label> <br>

        <label>
            <input type="text" placeholder="paymentmethod" formControlName="paymentmethod">
        </label> <br>

        <label>
            <input type="number" placeholder="mobile number" formControlName="mobile">
        </label> <br>

        <label>
            <input type="email" placeholder="email" formControlName="email">
        </label> <br>

        <label>
            <input type="text" placeholder="firstname" formControlName="firstname">
        </label> <br>

        <label>
            <input type="next" placeholder="lastname" formControlName="lastname">
        </label> <br>

        <button (click)="orderdataFun()" type="submit" value="button">CREATE ORDER</button>
        <p><b>{{createOrder}}</b></p>
    </form>
</body>
    